<html>
    <head>
        <title>Hello World</title>
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/index.tsx"></script>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
